<!doctype html>
<html>
<head>
  <title>Casino</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
  <section class="main">
    <header>
      <h1>Casino</h1>
    </header>
    <section class="hero">
      <section class="portal">

        <a href="/login" class="btn btn-default"></span>Login</a>
        <a href="/signup" class="btn btn-default"></span>Signup</a>
      </section>
      <section class="content">
        <h1>Guess where the toy is inside the cup!</h1>
        <section class="container">
          <section id="cup1"></section>
          <section id="cup2"></section>
          <section id="cup3"></section>
        </section>

        <p id="result"></p>


        <input id="total" type="text" name="" value="">
        <button id="submit" type="button" name="button">Submit</button>
        <h2 id="totalSumDisplay"></h2>


        <button id="bet" type="button" name="button">Place Bet</button>
        <p id="currentBet"></p>

        <script type="text/javascript" src="main.js"></script>
      </section>


    </section>

  </section>
</body>
</html>
